{% from 'frr/macro/zebra.j2' import zebra_config %}
{% from 'frr/macro/rpki.j2' import rpki_config %}
!
vrf {{ vrf }}
{% if vrf_config.ip is vyos_defined %}
 {{ zebra_config(vrf_config.ip, 'ip') | indent(width=1) }}
{% endif %}
{% if vrf_config.ipv6 is vyos_defined %}
 {{ zebra_config(vrf_config.ipv6, 'ipv6') | indent(width=1) }}
{% endif %}
{% if vrf_config.protocols.rpki is vyos_defined %}
 {{ rpki_config(vrf_config.protocols.rpki) | indent(width=1) }}
{% endif %}
{% if vrf_config.vni is vyos_defined %}
 vni {{ vrf_config.vni }}
{% endif %}
exit-vrf
!
