{% from 'frr/macro/zebra.j2' import zebra_config %}
{% from 'frr/macro/rpki.j2' import rpki_config %}
!
{% if ip is vyos_defined %}
{{ zebra_config(ip, 'ip') }}
{% endif %}
{% if ipv6 is vyos_defined %}
{{ zebra_config(ipv6, 'ipv6') }}
{% endif %}
{% if rpki is vyos_defined %}
{{ rpki_config(rpki) }}
{% endif %}
!
